.craps {
  justify-content: center;
  background-color: #282c34;
  height: 100vh;
}

.game-container{
  display: flex;
  flex-direction: column;
  background-color: brown;
  border-style: double;
  height: 80%;
}

.game-info {
  height: 20%;
}

.play-surface {
  height: auto;
  width: 100%;
}