.craps {
  justify-content: center;
  background-color: #282c34;
  height: 100vh;
}

.game-container{
  display: flex;
  flex-direction: column;
  background-color: brown;
  border-style: double;
}

.game-info {
  display: flex;
  min-height: 10rem;
}

.dice-container{
  background-color: #282c34;
  min-width: 15rem;
  margin: 1rem 0 1rem 1rem;
}
.play-surface {
  width: 100%;
}

.table-layout{
  width: 100%;
}